@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
* {
    font-family: 'Lora', serif;
}

body {
    background-image: linear-gradient(to top, rgb(121, 116, 116), rgb(243, 237, 237));
}

#intro {
    background-image: url("ressouces/pexels-instawalli-169789.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.nav-item {
    color: rgb(1, 13, 17);
    font-size: 1.25em;
    margin: 0 5px 10px 10px;
    padding: 0 5px 10px 10px;
}

.nav-item.active {
    margin: auto;
}

.nav-item:hover {
    color: red;
}

#textIntro {
    position: relative;
    font-weight: 200;
    font-size: 4em;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 120px red;
    transform: translateY(270px);
}

#parcours,
#compétences {
    height: auto;
}

#presentation {
    height: auto;
    display: inline-flex;
    flex-direction: column;
}

#presentation p {
    line-height: 1.8;
}

#presentation p span {
    animation: glow-in-up 0.08s both;
}

@keyframes glow-in-up {
    from {
        opacity: 0;
    }
    65% {
        opacity: 1;
        text-shadow: 0 0 25px white;
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0.7;
    }
}

.page-section {
    padding: 1rem 0;
    overflow-x: hidden;
}


/*button*/

.container-cv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cv {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
}

.btn-cv:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn-cv:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient( 120deg, transparent, rgba(146, 148, 248, 0.4), transparent);
    transition: all 650ms;
}

.btn-cv:hover:before {
    left: 100%;
}


/*fin button */


/*defintion de la scrollbar*/

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-image: linear-gradient(to top, #333 0%, #444 100%);
}


/*debut competence */

#compétences {
    width: 100%;
    height: 110vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 100px 0;
    overflow-y: hidden;
}

.card {
    position: relative;
    max-width: 300px;
    height: auto;
    background: linear-gradient(-45deg, #fe0847, #feae3f);
    border-radius: 15px;
    margin: 0 0;
    padding: 40px 40px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    transition: .5s;
}

.col-sm-3:nth-child(1) .card,
.col-sm-3:nth-child(1) .card .title .fa {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.col-sm-3:nth-child(2) .card,
.col-sm-3:nth-child(2) .card .title .fa {
    background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.col-sm-3:nth-child(3) .card,
.col-sm-3:nth-child(3) .card .title .fa {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.col-sm-3:nth-child(4) .card,
.col-sm-3:nth-child(4) .card .title .fa {
    background: linear-gradient(-45deg, #7408f0, #f71ea4);
}

.card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
    transform: skewY(-5deg) scale(1.5);
}

.title h3 i {
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.option {
    position: relative;
    z-index: 2;
}

.option ul {
    margin: 0;
    padding: 0;
}

.option ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
}

.option ul li,
.option ul li img {
    margin-right: 5%;
}


/*fin competence*/


/*defintition de la timeline*/

#parcours {
    color: #bbb;
    padding: 1rem;
    margin-top: 20px;
    box-sizing: border-box;
}

.timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
}

.timeline:before {
    content: "";
    position: absolute;
    height: 100%;
    border: 1px solid hotpink;
    right: 40px;
    top: 0;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 700px) {
    .timeline {
        padding: 2rem;
    }
    .timeline:before {
        left: calc(50% - 1px);
        right: auto;
    }
}

.timeline__item {
    padding: 1rem;
    border: 2px solid hotpink;
    border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
}

.timeline__item:after,
.timeline__item:before {
    content: "";
    position: absolute;
}

.timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: hotpink hotpink transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
    .timeline__item {
        width: 44%;
        margin: 1rem;
    }
    .timeline__item:nth-of-type(2n) {
        float: right;
        margin: 1rem;
        border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
        border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
        right: auto;
        left: -10px;
        border-color: transparent transparent hotpink hotpink;
    }
}

.timeline__item--year {
    text-align: center;
    max-width: 150px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: #333;
    line-height: 1;
    border-image: none;
    padding: 0.5rem 1rem 1rem;
}

.timeline__item--year:before {
    display: none;
}

@media screen and (min-width: 700px) {
    .timeline__item--year {
        text-align: center;
        margin: 0 auto;
    }
    .timeline__item--year:nth-of-type(2n) {
        float: none;
        margin: 0 auto;
        border-image: none;
    }
    .timeline__item--year:nth-of-type(2n):before {
        display: none;
    }
}

.timeline__title {
    margin: 0;
    font-size: 1.5em;
}

.timeline__blurb {
    line-height: 1.5;
    font-size: 1rem;
    margin: 0.5rem 0 0;
}


/*fin timeline */


/*réalisations index */

.filters .active {
    background-color: rgb(212, 64, 19);
}

.card-realisation {
    position: relative;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 0 20px;
    padding: 40px 40px;
    background-color: whitesmoke;
}

.card-realisation:hover {
    z-index: 12;
    transform: translateY(-12px);
    box-shadow: rgb(100, 100, 100);
}


/* Fin réalisatons */


/* autre page */

ul li {
    margin-right: 500px;
}
.img-gedimat{
    position: relative;
    float: right;
    transform: translateY(-300px);
}
.img-shema{
    transform: translateX(50%);
}
.img-admin{
    position: relative;
    float: right;
    transform: translateY(-250px);
}
.img-andr{
    position: relative;
    float: right;
    transform: translate(-300px,-290px);
}
.img-right{
    position: relative;
    float: right;
}
.img-margin{
    padding: 20px 20px 20px 20px;
}