@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, rgb(121, 116, 116), rgb(243, 237, 237));
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-image: linear-gradient(to top, #333 0%, #444 100%);
}

h2 {
    font-size: 25px;
}

#Entreprise {
    height: 1500px;
}

.container-fluid {
    box-sizing: border-box;
}

.container-fluid .container-fluid {
    width: 800px;
    position: absolute;
    display: inline-block;
}

.container-fluid .container-fluid img {
    position: relative;
    float: left;
}

.container-fluid .container-fluid i {
    font-size: 80px;
    color: blue;
    padding: 0 100px;
}

.container-fluid h3 {
    padding: 50px 100px 0 0;
}

#img_CPcode {
    position: relative;
    float: right;
}

#android {
    position: relative;
    float: right;
    transform: translate(370px, 250px);
}

#interface {
    position: relative;
    float: right;
    transform: translate(10px, -80px);
}